:root {
  --color-primary: #191b22;
  --color-secondary: #282c37;
  --color-accent: #6364ff;

  --color-text-primary: #9baec8;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--color-text-primary);
}

body{
  background: var(--color-primary);
}